@model WarehouseManagement.Models.ViewModels.Stats
<!DOCTYPE html>

<html>
<head>
    <title>Warehouse Software</title>
</head>
<body>
    <h1>Statisztika</h1>
    <h2>Raktár össztömege: @Model.TotalWeight KG</h2>
    <h2>Raktár összértéke: @Model.TotalValue HUF - @Model.EuroValue EUR</h2>
    <h2>Legtöbb tételű termék: @Model.MaxQuantity.Name - @Model.MaxQuantity.Quantity DB</h2>
    <h2>Legnagyobb termék: @Model.HeaviestProduct.Name</h2>
    <form action="/">
        <input type="submit" value="Vissza" />
    </form>
</body>
</html>
