<!DOCTYPE html>

<html>
<head>
    <title>Warehouse Software</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        body, table {
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Termékek</h1>
    <table>
        <tr>
            <th>Azonosító</th>
            <th>Név</th>
            <th>Ár</th>
            <th>Súly</th>
            <th>Leírás</th>
            <th>Szerkesztés</th>
        </tr>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.ProductCode</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Weight</td>
            <td>@product.Description</td>
            <td>
                <form action="products/@product.Id" method="get">
                    <input type="submit" value="">
                </form>
            </td>
        </tr>
        }
    </table>
    <form action="add">
        <input type="submit" value="Hozzáadás" />
    </form>
    <form action="/">
        <input type="submit" value="Vissza" />
    </form>
</body>
</html>
